
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-size: 1.25em;
    font-family: "Trebuchet MS", sans-serif;
    line-height: 1.5em;
    color: #242729;
  }
  .container {
    padding-left: 5%;
    padding-right: 5%;

    background-color: #242729;
  }
  .content {
    background-color: #fdffe3;
  }
