
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-size: 1.25em;
    font-family: "Trebuchet MS", sans-serif;
    line-height: 1.5em;
    color: #242729;
  }
  .container {
    padding-left: 5%;
    padding-right: 5%;

    background-color: #242729;
  }
  .content {
    background-color: #fdffe3;
  }

  .header {
    top: 0;
    left: 0;
    position: sticky;

    width: 100%;

    min-height: 3em;
    background-color: #c6491a;
  }
  .menu {
    padding: 1em;
    margin-left: 10%;
    margin-top: 0;
    margin-right: 10%;
    margin-bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
  }
  .menu .menu-item {
    text-transform: uppercase;
  }
  .menu .menu-item a {
    color: #fff;
    transition: 0.25s;
  }
  .menu .menu-item a::after,
  .menu .menu-item a::before {
    content: "";

    transform: translate(0.5em, 0.5em);
    position: absolute;
    width: 0.5em;
    height: 0.5em;

    border-radius: 0.25em;

    background-color: #e6e3bb;
    opacity: 0;

    transition: 0.25s;
  }
  .menu .menu-item a::before {
    transform: translate(-1em, 0.5em);
  }
  .menu .menu-item a:hover {
    color: #e6e3bb;
  }
  .menu .menu-item a:hover::after,
  .menu .menu-item a:hover::before {
    opacity: 1;
  }

  h1,
  h2 {
    margin-top: 0;

    text-transform: uppercase;
    font-size: 2em;
  }
  h3 {
    margin-top: 0;

    text-transform: uppercase;
    font-size: 1.5em;
  }
  a {
    color: #c6491a;
    text-decoration: none;
  }
  a:hover {
    color: #d3741c;
  }
  table td {
    vertical-align: top;
  }
  table td:first-of-type {
    font-weight: bold;
  }
  section {
    padding: 1em;
    padding-top: 4em;
    padding-bottom: 3em;
  }

  .intro {
    padding-top: 4em;
    display: flex;
  }
  .intro .intro-img {
    width: 25%;

    border-radius: 1em;
  }
  .intro .intro-content {
    width: 75%;
    padding-left: 1em;
  }

  section:nth-child(2n) {
    border-top-left-radius: 2.5em;
    border-bottom-right-radius: 2.55em;
    background-color: #e6e3bb;
  }
  .section-img {
    width: 50%;
    border-radius: 1em;
  }
  .section-with-img {
    display: flex;
  }
  .section-content {
    width: 50%;
    padding-right: 1em;
  }
  .padding-block {
    padding-left: 5em;
    padding-right: 5em;
  }
